<div class="s-bg slide-type-B4"></div>
<div class="doodle-ph" style="bottom:250px">
  <img src="{{DOODLE_SRC}}" alt="{{DOODLE_ALT}}" />
  <div class="doodle-ph-icon">
    <svg width="44" height="44" viewBox="0 0 44 44" fill="none"><path d="M32 4L40 12L14 38H6V30L32 4Z" stroke="#34C363" stroke-width="2" stroke-linejoin="round"/><path d="M26 10L34 18" stroke="#34C363" stroke-width="2"/><path d="M6 30L14 38" stroke="#34C363" stroke-width="2"/></svg>
    <span>Doodle<br>placeholder</span>
  </div>
</div>
<div style="position:absolute;top:55px;left:60px;right:60px;display:flex;justify-content:space-between;align-items:center;">
  <span class="s-counter">{{COUNTER}}</span>
</div>
<div class="s-zone">
  <div>
    <div style="font-family:'Inter',sans-serif;font-weight:800;font-size:68px;line-height:1.05;color:#fff;letter-spacing:-1.5px;">
      {{HEADLINE}}
    </div>
  </div>
  <div style="font-family:'Inter',sans-serif;font-weight:400;font-size:31px;color:#fff;line-height:1.7;text-align:left;">
    {{BODY}}
  </div>
  <div class="callout">
    <div style="font-family:'Inter',sans-serif;font-weight:600;font-size:27px;color:#fff;line-height:1.6;text-align:left;">
      <span style="color:#34C363;font-size:30px;font-weight:800;">&#10022;</span>&nbsp; {{CALLOUT}}
    </div>
  </div>
</div>
<div style="position:absolute;bottom:52px;left:60px;right:60px;display:flex;justify-content:space-between;align-items:center;">
  <span class="s-arrow">&rarr;</span>
</div>
